# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
.eggs/
*.egg-info/
.installed.cfg
*.egg


#Virtual Env
venv/

# Build directory
build/

# Terraform
secret.tfvars
.terraform
terraform.tfstate.d/
dist/
.pytest_cache/
.coverage
