version: 2.0

defaults: &defaults
  working_directory: /root/project
  docker:
    - image: compassventures/buildpacks

deploysteps: &deploysteps
  steps:
    - checkout
    - run:
        name: build
        command: |
          $CIRCLE_WORKING_DIRECTORY/scripts/deploy_lambda
    - deploy:
        name: deploy
        command: |
          terraform init $CIRCLE_WORKING_DIRECTORY/terraform
          terraform workspace select $STATE_ENV $CIRCLE_WORKING_DIRECTORY/terraform
          terraform plan -var 'aws_access_key=$AWS_ACCESS_KEY_ID' -var 'aws_secret_key=$AWS_SECRET_ACCESS_KEY' -var 'aws_region=$AWS_DEFAULT_REGION' $CIRCLE_WORKING_DIRECTORY/terraform

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
  deploy-dev:
    <<: *defaults
    environment:
      STATE_ENV: development
      AWS_DEFAULT_REGION: us-east-1
    <<: *deploysteps
  deploy-stage:
    <<: *defaults
    environment:
      STATE_ENV: staging
      AWS_DEFAULT_REGION: us-east-1
    <<: *deploysteps
  deploy-prod:
    <<: *defaults
    environment:
      STATE_ENV: production
      AWS_DEFAULT_REGION: us-east-1
    <<: *deploysteps

workflows:
  version: 2
  build:
    jobs:
      - test:
          filters:
            branches:
              ignore:
                - master
                - develop
  deploy-dev:
    jobs:
      - deploy-dev:
          filters:
            branches:
              only: develop
